<h1 class="title">Edit Todo</h1>
<div class="mat-dialog-content">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" class="example-form">
        <mat-form-field class="example-full-width">
        <div class="field">
            <div class="control">
                <input type="text" [ngModel]="todo.text" name="text" matInput placeholder="Type todo text here..." required minlength="5">
            </div>
        </div>
    </mat-form-field>

        <br>
        <div class="field_b">
            <div class="control">
                <button mat-button type="button" class="button" (click)="close()">Cancel</button>
            </div>
            <div class="control">
                <button mat-button type="submit" class="button">
                    <i class="material-symbols-outlined">Save</i>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>